<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container-fluid">
    <h4>Employee Details (&lt; total_no_of_employees: {{count}} &gt;)</h4>
    <hr class="hr-primary" />
  </div>
  <div class="container-fluid">
    <select>
      <option name="departments" *ngFor="let el of elements">{{el.departments}} </option>
    </select>



    <!-- <select>  
      <select [(ngModel)]="dHeader.departments
      " (ngModelChange)="SearchId(dHeader.elements)">    
    </select>  
      <option *ngFor="let prod of dHeader">{{prod.elements}} </option>
      <div *ngIf="dHeader.departments">  
        <h5>You have selected: {{dHeader.elements}}elements</h5>  
    </div>   
    </select> -->


    <input type="text" placeholder="Name/email" style="margin:15px ;  border: 2px solid;">
    <!-- <input [(ngModel)]="searchText" placeholder="search text goes here">
<ul>
  <li *ngFor="let el of elements | filter ">
    {{el}}
  </li>
</ul> -->
    <button type="submit" value="Submit" style="margin:15px ;box-shadow: 2px 3px;">search</button>
    <button type="submit" value="Submit" style="margin:15px ;box-shadow: 2px 3px;">reset/Reload</button>


    <select id="range" >
      <option value="name">A-Z</option>
      <option value="name">a-z</option>
      <option value="age">age</option>

      <option value="email">email</option>


    </select>
  </div>

  <hr>
  <div class="container-fluid">
    <table mdbTable>
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol  *ngFor="let el of elements" >
          <th scope="row">{{el.name}}</th>
          <td>{{el.age}}</td>
          <td>{{el.email}}</td>

         <td class = "cellcomment">{{el.departments}}<span class="CellComment">Here is a comment</span>
            <!-- <span class="tooltiptext">{{el.departments}}</span> -->
          </td> 
          
        
          
        </tr>
      </tbody>
    </table>
  </div>

</body>